Package: dhcp-global-option
Source: dhcp-global-option
Version: PACKAGE_VERSION-PACKAGE_RELEASE
Architecture: PACKAGE_ARCH
Maintainer: Mathias Fredriksson <mafredri@gmail.com>
Section: net
Homepage: https://github.com/mafredri/vyatta-dhcp-global-option
Description: Support dhcp global options on UniFi Security Gateway
